<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/tag::tag"/>
<body>
	<!-- 页面顶部¨ -->
    <div th:replace="common/head::head"/>
	<div id="cl-wrapper" class="fixed-menu">
		<!-- 中间内容 start -->
		<div class="container-fluid" id="pcont">
			<div class="page-breadcrumbs">
				<ul class="breadcrumb">
					<li><i class="iconfont">&#xe63a;</i> <a href="#">系统管理</a></li>
					<li class="active">资源管理</li>
				</ul>
			</div>
			<div>
				<div class="lt">
					<div class="panel panel-default">
						<div class="roll">
							<ul id="zTree" class="ztree"></ul>
							<div id="ztree-loading">
								<div class="ztree-loading-icon">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body rt">
				<div class="panel panel-primary">

					<div class="panel-heading">查询条件</div>

					<div class="panel-body">
						<form id="searchForm" class="form-horizontal">
							<input type="hidden" name="pid" id="pid" value="" />
							<div class="form-group row">
								<label class="control-label col-sm-3">资源名称 :</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" name="menuName" placeholder="请输入资源名称">
								</div>
								<label class="control-label col-sm-3">类型 :</label>
								<div class="col-sm-5">
									<select class="form-control" name="menuType">
										<option value="">全部</option>
										<option value="module">模块</option>
										<option value="page">页面</option>
										<option value="button">按钮</option>
									</select>
								</div>
								<div class="col-sm-6">
									<button type="button" class="btn btn-primary"
										onclick="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询</button>
										<button type="button" class="btn btn-default col-xs-offset-1"
										onclick="resetForm()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>重置</button>
								</div>
							</div>
						</form>

					</div>

				</div>
				<div>
						<div class="panel panel-default">
							<div id="toolbar" class="col-bm-10 col-top-10 col-left-10">
								<button id="btn_add" type="button" class="btn btn-warning"
									onclick="toAddRdsMenu()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增</button>
								<button id="btn_edit" type="button" class="btn btn-success"
									onclick="toUpdateRdsMenu()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改</button>
								<button id="btn_delete" type="button" class="btn btn-danger"
									onclick="deleteMenuByMenuIds()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除</button>
							</div>
						</div>
						<table id="rds_menu">
					</table>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script src="/tpl/rds_menu/rds_menu_list.js"></script>