<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaspeed.web.dao.RdsMenuMapper" >
  <resultMap id="BaseResultMap" type="com.yaspeed.web.pojo.RdsMenu" >
    <id column="menu_id" property="menuId" jdbcType="CHAR" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="pid" property="pid" jdbcType="CHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="CHAR" />
    <result column="order_num" property="orderNum" jdbcType="TINYINT" />
    <result column="percode" property="percode" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menu_id, id, pid,url, menu_name, menu_type, order_num, percode, icon
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yaspeed.web.pojo.RdsMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rds_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rds_menu
    where menu_id = #{menuId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rds_menu
    where menu_id = #{menuId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yaspeed.web.pojo.RdsMenuExample" >
    delete from rds_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yaspeed.web.pojo.RdsMenu" >
    insert into rds_menu (menu_id , pid, url, menu_name, 
      menu_type, order_num, percode, 
      icon)
    values (#{menuId,jdbcType=CHAR}, #{pid,jdbcType=CHAR}, #{url,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{menuType,jdbcType=CHAR}, #{orderNum,jdbcType=TINYINT}, #{percode,jdbcType=VARCHAR}, 
      #{icon,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yaspeed.web.pojo.RdsMenu" >
    insert into rds_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="menuType != null" >
        menu_type,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="percode != null" >
        percode,
      </if>
      <if test="icon != null" >
        icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=CHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=CHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=CHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=TINYINT},
      </if>
      <if test="percode != null" >
        #{percode,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yaspeed.web.pojo.RdsMenuExample" resultType="java.lang.Integer" >
    select count(*) from rds_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rds_menu
    <set >
      <if test="record.menuId != null" >
        menu_id = #{record.menuId,jdbcType=CHAR},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=CHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.menuName != null" >
        menu_name = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuType != null" >
        menu_type = #{record.menuType,jdbcType=CHAR},
      </if>
      <if test="record.orderNum != null" >
        order_num = #{record.orderNum,jdbcType=TINYINT},
      </if>
      <if test="record.percode != null" >
        percode = #{record.percode,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null" >
        icon = #{record.icon,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rds_menu
    set menu_id = #{record.menuId,jdbcType=CHAR},
      pid = #{record.pid,jdbcType=CHAR},
      url = #{record.url,jdbcType=VARCHAR},
      menu_name = #{record.menuName,jdbcType=VARCHAR},
      menu_type = #{record.menuType,jdbcType=CHAR},
      order_num = #{record.orderNum,jdbcType=TINYINT},
      percode = #{record.percode,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaspeed.web.pojo.RdsMenu" >
    update rds_menu
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=CHAR},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
       <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=CHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=TINYINT},
      </if>
      <if test="percode != null" >
        percode = #{percode,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=CHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaspeed.web.pojo.RdsMenu" >
    update rds_menu
    set pid = #{pid,jdbcType=CHAR},
      url = #{url,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=CHAR},
      order_num = #{orderNum,jdbcType=TINYINT},
      percode = #{percode,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=CHAR}
    where menu_id = #{menuId,jdbcType=CHAR}
  </update>
  
     <!-- ztree查询 -->
   <select id="getRdsMenuByZtree" resultType="com.yaspeed.web.pojo.ZtreeNodes" parameterType="com.yaspeed.web.pojo.RdsMenuExample">
    select menu_id as id,PID as pid,menu_name as name
    from rds_menu order by order_num
  </select>
</mapper>